$black: black;
$white: rgb(254, 254, 254);
$bluishGray: #373b5e;
$bluishGrayLight: #7c84a3;
$darkGray: rgb(78, 78, 78);
$borderRadius: 25px;
$bgMild: rgb(246, 243, 255);
$pink: rgba(238, 174, 202, 1);
$lightBlue: rgba(148, 187, 233, 1);
$bluishPink: #a056c5;
$successGreen: #01cb81;
$dangerRed: #fe0141;
